<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/css/cssreset.css" />
    <link rel="stylesheet" href="../static/assets/css/styles.css" />

    <!-- Search Engine Optimisation by Premiumify - https://premiumify.me -->

    <title>TTS - Total Temperature Solutions</title>
    <link rel="icon" type="image/png" href="../static/images/logo.ico" />
    <meta
      name="description"
      content="We provide plumbing, heating, gas, ventilation, and renewable energy services in a variety of domestic and commercial installations. "
    />
    <meta name="robots" content="" />
    <link rel="canonical" href="" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="TTS - Total Temperature Solutions" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="TTS" />
    <meta property="og:updated_time" content="2022-01-03T15:53:39+00:00" />
    <meta property="og:image" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:image:alt" content="TTS" />
    <meta property="og:image:type" content="image/ico" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="TTS - " />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />

    <!-- Premiumify SEO -->
  </head>
  <body class="homepage">
    <div class="content">
      <!-- Navigation Begin -->
      <nav class="mobile-menu">
        <ul>
          <li><a href="#" class="current-page">Home</a></li>
          <li><a href="#service-section">All Services</a></li>
        </ul>
      </nav>
      <header>
        <div class="nav-container">
          <div class="logo-wrapper">
            <a class="btn-wrapper noSelect" href="index.html"><img class="logo" src="../static/assets/images/logo.png" alt="" /></a>
          </div>
          <nav class="main-nav">
            <ul>
              <li><a href="#" class="current-page">HOME</a></li>
              <li><a href="#service-section">ALL SERVICES</a></li>
            </ul>
          </nav>
          <div id="menu-container"></div>
        </div>
      </header>
      <!-- Navigation End -->
      <!-- Hero Image Start -->
      <section class="hero">
        <div class="dark-overlay"></div>
        <div class="hero-inner container">
          <div class="text-wrapper">
            <h1 class="heading-med">Air Conditioning & Refrigeration Services</h1>
            <a class="noSelect" href="javascript:void(0)" class="btn-wrapper"
              ><button class="animated"><span>GIVE US A CALL</span></button></a
            >
            <a class="btn-wrapper" href="#service-section"><button class="animated secondary">OUR SERVICES</button></a>
          </div>
        </div>
      </section>
      <!-- Hero Image End -->
      <!-- About Us Section Start -->
      <section class="container">
        <div class="vertical-overlap">
          <h2 class="heading-l green">TOTAL TEMPERATURE SOLUTIONS LTD</h2>
          <p class="text-secondary">
            We could add a short paragraph describing your company, and what it does, here. It's not necessary of course, but might be a nice idea.
          </p>
        </div>
        <div id="about-us" style="display: none">
          <h2 class="heading-med size18">Laboris quis culpa velit</h2>
          <p>
            Nisi adipisicing nisi cupidatat incididunt duis est proident. Fugiat proident Lorem nulla id ex ea ad anim. Eiusmod dolore excepteur anim ex laborum
            non adipisicing adipisicing.
          </p>
          <p>
            Aliquip eiusmod adipisicing excepteur incididunt ea irure cillum et. Aliquip deserunt sint velit aliquip. Sunt exercitation incididunt ullamco
            eiusmod excepteur anim consequat ea excepteur mollit in consequat magna nisi. Voluptate sunt ea enim ut. Qui et eiusmod et anim aute velit eu
            aliquip aliqua tempor velit reprehenderit fugiat esse.
          </p>
        </div>
      </section>
      <!-- About Us Section End -->
      <!-- Service Cards begin -->
      <div class="container padded">
        <h2 class="heading-b med-size-font large-bot-marg" id="service-section">Our Services</h2>
      </div>
      <div class="splash-back">
        <div class="container padded">
          <section class="service-card-container" id="domestic-installation">
            <div class="service-card medlarge-bot-marg">
              <h2>Domestic Installation</h2>
              <p class="text-secondary">
                Due to climate change the Met Office are predicting hotter, drier summers & warmer, wetter winters becoming the norm in the UK. The need for air
                conditioning in the home is on the rise with residents keen to reduce their carbon footprint while having total control over the temperature in
                the home.
              </p>
            </div>
            <div class="two-col-flex">
              <div class="service-col">
                <h3 class="heading">Split System: For one room</h3>
                <p class="text-secondary">
                  A single-split system connects one indoor unit to one outdoor unit, for simple installation & straightforward cooling & heating.
                </p>
              </div>
              <div class="service-col">
                <h3 class="heading">Multi-Split Systems: For the entire home</h3>
                <p class="text-secondary">
                  Connect up to six indoor units to one outdoor unit to efficiently cool or heat up to six different rooms. The temperature for each room can be
                  controlled independently.
                </p>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="splash-back">
        <div class="container padded">
          <section class="service-card-container" id="commercial-installation">
            <div class="service-card">
              <h2>Commercial Installation</h2>
              <p class="text-secondary">
                While Air Conditioning has a long list of benefits, comfort and staff happiness is among the most common reasons why businesses have it
                installed. Whether you require food to be stored at -20degC or your looking to create a comfortable and healthier working environment of +21degC
                for your staff/customers we can tailor a solution for your business needs.
              </p>
            </div>
          </section>
        </div>
      </div>
      <div class="splash-back">
        <div class="container padded">
          <section class="service-card-container" id="maintenance">
            <div class="service-card">
              <h2>Maintenance</h2>
              <p class="text-secondary med-bot-marg">
                Whether it’s a split system controlling the temperature in one room or a VRV controlling the temperature for an entire building, preventative
                maintenance is crucial for a number of reasons:
              </p>
              <ul class="text-secondary med-bot-marg">
                <li>Lengthens the lifespan of the equipment</li>
                <li>Lowers the risk of breakdowns</li>
                <li>Increases efficiency</li>
              </ul>
              <p class="text-secondary">
                Air Conditioning systems make for healthier spaces by improving air quality for asthma and hay fever sufferers. They also make your home more
                comfortable by reducing the humidity and moisture levels, especially during the spring and summer months. Carrying out regular maintenance
                ensures optimum system efficiency and performance.
              </p>
            </div>
          </section>
        </div>
      </div>
      <div class="splash-back">
        <div class="container padded">
          <section class="service-card-container" id="fgas-compliance">
            <div class="service-card medlarge-bot-marg">
              <img src="../static/assets/images/fgas.png" alt="" />
              <h2>FGAS Compliance</h2>
              <p class="text-secondary">
                F gases are fluorinated gases that include HCFCs, HFCs and CFCs used in refrigerated applications and equipment, including air conditioning.
                Certain F gases have been proven to deplete the ozone layer, whilst others directly contribute to greenhouse gases associated with global
                warming. EU legislation has been put into place in order to limit the use of these gases, controlling how much F gas is released into the
                Earth’s atmosphere in an effort to protect the environment. Legally, air conditioning installations and equipment that contain more than 2.14kg
                (5 Tonnes CO2) of an F gas refrigerant should be leak checked once a year. If the system contains more than 24kg (50 Tonnes CO2) of F gas
                refrigerant, then they should be check checked every 6 months for leaks and damage by a contractor certified to work with F gases.
              </p>
            </div>
            <div class="two-col-flex">
              <div class="service-col">
                <p class="text-secondary semiB med-bot-marg">Owners of equipment that use and contain HFCs should, according to the legislation:</p>
                <ul class="text-secondary med-bot-marg">
                  <li>Use qualified, specialist and appropriately trained contractors to repair, maintain, dispose of and service refrigerant and equipment</li>
                  <li>Use any and all measures to help prevent refrigerant leaks</li>
                  <li>Repair leaks as soon as they have been detected</li>
                </ul>
              </div>
              <div class="service-col">
                <p class="text-secondary semiB med-bot-marg">
                  Owners of equipment or systems that contain 2.4kg (5 Tonnes CO2) or more of an F gas refrigerant are under additional obligations, which
                  include:
                </p>
                <ul class="text-secondary">
                  <li>
                    Conducting regular, scheduled testing (annually, bi-annually or quarterly if a system meets the certain threshold) by qualified and
                    certified contractors with the intention of identifying leaks
                  </li>
                  <li>
                    Maintaining the appropriate records, detailing: the date of each leak check along with the results, the quantity and type of each
                    refrigerant used, the quantity, type and equivalent CO2 in Tonnes of each refrigerant which has been disposed of, recovered from or added to
                    the system and the identity and details of the company and contractor who carried out the maintenance or service.
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- Accreditations Start-->
      <section style="display: none" class="accreditation container">
        <h2 class="heading-med med-size-font large-bot-marg centered">Accreditations</h2>
        <div class="accreditation-container"></div>
      </section>

      <!-- Accreditations End -->
    </div>
    <footer>
      <div class="footer-grid">
        <section>
          <div class="logo-wrapper">
            <a class="btn-wrapper noSelect" href="index.html"><img class="logo" src="../static/assets/images/logo.png" alt="" /></a>
          </div>
          <p class="white">
            We could add a short paragraph describing your company, and what it does, here. It's not necessary of course, but might be a nice idea.
          </p>
          <span class="footer-seperator-horizontal"></span>
        </section>
        <span class="footer-seperator first"></span>
        <section class="desktop-footer-section">
          <p class="white size14">Ways To Get In Touch</p>
          <ul>
            <li><i class="call-icon"></i><a href="javascript:void(0)">number here</a></li>
            <li><i class="email-icon"></i><a href="javascript:void(0)">email here</a></li>
          </ul>
        </section>
        <section class="desktop-footer-section">
          <p class="white size14">Links</p>
          <ul>
            <li><a href="#" class="current-page">HOME</a></li>
            <li><a href="#service-section">ALL SERVICES</a></li>
          </ul>
        </section>
        <section class="mobile-footer-section">
          <p class="white size14">Ways To Get In Touch</p>
          <ul>
            <li><i class="call-icon"></i><a href="javascript:void(0)">number here</a></li>
            <li><i class="email-icon"></i><a href="javascript:void(0)">email here</a></li>
          </ul>
          <span class="footer-seperator first-shown"></span>
          <p class="white size14">Links</p>
          <ul>
            <li><a href="#" class="current-page">HOME</a></li>
            <li><a href="#service-section">ALL SERVICES</a></li>
          </ul>
        </section>
      </div>
    </footer>
    <script src="../static/assets/js/bodymovin-library.js"></script>
    <script type="text/javascript" src="../static/assets/js/script.js"></script>
  </body>
</html>
