<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/css/cssreset.css" />
    <link rel="stylesheet" href="../static/assets/css/styles.css" />

    <!-- Search Engine Optimisation by Premiumify - https://premiumify.me -->

    <title>TTS - Total Temperature Solutions</title>
    <link rel="icon" type="image/png" href="../static/images/logo.ico" />
    <meta
      name="description"
      content="We provide plumbing, heating, gas, ventilation, and renewable energy services in a variety of domestic and commercial installations. "
    />
    <meta name="robots" content="" />
    <link rel="canonical" href="" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="TTS - Total Temperature Solutions" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="TTS" />
    <meta property="og:updated_time" content="2022-01-03T15:53:39+00:00" />
    <meta property="og:image" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:image:alt" content="TTS" />
    <meta property="og:image:type" content="image/ico" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="TTS - " />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />

    <!-- Premiumify SEO -->
  </head>
  <body class="homepage">
    <div class="content">
      <!-- Navigation Begin -->
      <nav class="mobile-menu">
        <ul>
          <li><a href="#" class="current-page">Home</a></li>
          <li><a href="#service-section">All Services</a></li>
        </ul>
      </nav>
      <header>
        <div class="nav-container">
          <div class="logo-wrapper">
            <a class="btn-wrapper noSelect" href="index.html"><img class="logo" src="../static/assets/images/logo.png" alt="" /></a>
          </div>
          <nav class="main-nav">
            <ul>
              <li><a href="#" class="current-page">HOME</a></li>
              <li><a href="#service-section">ALL SERVICES</a></li>
            </ul>
          </nav>
          <div id="menu-container"></div>
        </div>
      </header>
      <!-- Navigation End -->
      <!-- Hero Image Start -->
      <section class="hero">
        <div class="dark-overlay"></div>
        <div class="hero-inner container">
          <div class="text-wrapper">
            <h1 class="heading-med">Enim velit fugiat veniam nulla non tempor dolore nostrud enim Lorem nostrud laborum qui adipisicing.</h1>
            <a class="noSelect" href="javascript:void(0)" class="btn-wrapper"
              ><button class="animated"><span>GIVE US A CALL</span></button></a
            >
            <a class="btn-wrapper" href="#service-section"><button class="animated secondary">OUR SERVICES</button></a>
          </div>
        </div>
      </section>
      <!-- Hero Image End -->
      <!-- About Us Section Start -->
      <section class="container">
        <div class="vertical-overlap">
          <h2 class="heading-l green">TOTAL TEMPERATURE SOLUTIONS LTD</h2>
          <p>
            Veniam ut adipisicing excepteur amet cupidatat labore laboris excepteur veniam. Id eiusmod ipsum sit velit in adipisicing aliquip. Nostrud
            adipisicing amet laboris quis culpa velit Lorem voluptate.
          </p>
        </div>
        <div id="about-us">
          <h2 class="heading-med size18">Laboris quis culpa velit</h2>
          <p>
            Nisi adipisicing nisi cupidatat incididunt duis est proident. Fugiat proident Lorem nulla id ex ea ad anim. Eiusmod dolore excepteur anim ex laborum
            non adipisicing adipisicing.
          </p>
          <p>
            Aliquip eiusmod adipisicing excepteur incididunt ea irure cillum et. Aliquip deserunt sint velit aliquip. Sunt exercitation incididunt ullamco
            eiusmod excepteur anim consequat ea excepteur mollit in consequat magna nisi. Voluptate sunt ea enim ut. Qui et eiusmod et anim aute velit eu
            aliquip aliqua tempor velit reprehenderit fugiat esse.
          </p>
        </div>
      </section>
      <!-- About Us Section End -->
      <!-- Service Cards begin -->
      <h2 class="heading-b med-size-font large-bot-marg centered" id="service-section">Our Services</h2>
      <section class="service-card-container container">
        <div class="service-card">
          <h2>Service</h2>
          <p>
            Exercitation ex esse deserunt dolor deserunt Lorem elit duis nulla reprehenderit duis culpa. Ipsum adipisicing cupidatat labore sint culpa cillum et
            mollit nisi pariatur enim aute nostrud culpa. Mollit amet ex qui deserunt.
          </p>
          <a href="javascript:void(0)" class="btn-wrapper"
            ><button class="animated dark"><span>FIND OUT MORE</span></button></a
          >
        </div>
        <div class="service-card">
          <h2>Service</h2>
          <p>
            Ut eiusmod officia enim ut minim aliquip tempor minim magna dolor incididunt elit ipsum adipisicing. Qui mollit enim aliqua cupidatat. Mollit
            laborum quis aute deserunt. Aliquip ad et adipisicing officia culpa. Mollit mollit exercitation excepteur ipsum irure enim dolor.
          </p>
        </div>
        <div class="service-card">
          <h2>Service</h2>
          <p>
            Deserunt sint proident ad pariatur exercitation aliquip occaecat fugiat exercitation irure nulla. Voluptate quis in qui laborum occaecat tempor do
            aliqua labore excepteur nostrud duis eiusmod sit.
          </p>
        </div>

        <div class="service-card">
          <h2>Service</h2>
          <p>
            Veniam commodo Lorem in incididunt aliquip adipisicing velit aute deserunt magna. Consequat aute est Lorem mollit irure. Velit nisi minim
            reprehenderit fugiat fugiat sit veniam eiusmod exercitation laboris deserunt sunt est deserunt.
          </p>
        </div>
        <div class="service-card">
          <h2>Service</h2>
          <p>
            Quis minim esse qui minim ex qui deserunt laborum. Sunt elit minim laboris mollit. Sint culpa incididunt mollit laboris. Enim est consectetur culpa
            cillum. Laborum cillum irure culpa quis sint.
          </p>
        </div>
        <div class="service-card">
          <h2>Service</h2>
          <p>
            Occaecat nostrud ea veniam dolor in aliqua eu. Laboris cupidatat commodo consectetur proident proident do elit aliquip nostrud nulla. Sint commodo
            sunt esse aliquip anim aute eiusmod commodo quis eiusmod eiusmod occaecat.
          </p>
        </div>
      </section>
      <!-- no pic or info services here -->
      <h2 style="display: none" class="heading-b med-size-font large-bot-marg centered" id="service-section">Other Services</h2>
      <section style="display: none" class="other-services container">
        <div class="other-service-card">
          <h2>Mechanical Heat Recovery Ventilation</h2>
        </div>
        <div class="other-service-card">
          <h2>Domestic and Commercial Gas and LPG Boilers</h2>
        </div>
        <div class="other-service-card">
          <h2>Oil Boilers</h2>
        </div>
        <div class="other-service-card">
          <h2>Variety of Unvented Hot Water Systems</h2>
        </div>
        <div class="other-service-card">
          <h2>Bespoke Bathroom Installations</h2>
        </div>
        <div class="other-service-card">
          <h2>Commercial Service and Maintenance</h2>
        </div>
        <div class="other-service-card">
          <h2>Air Conditioning</h2>
        </div>
        <div class="other-service-card">
          <h2>Mechanical Ventilation</h2>
        </div>
        <div class="other-service-card">
          <h2>Gas Flue Analysis</h2>
        </div>
      </section>
      <!-- Service Cards End -->
      <!-- Accreditations Start-->
      <section style="display: none" class="accreditation container">
        <h2 class="heading-med med-size-font large-bot-marg centered">Accreditations</h2>
        <div class="accreditation-container"></div>
      </section>

      <!-- Accreditations End -->
    </div>
    <footer>
      <div class="footer-grid">
        <section>
          <div class="logo-wrapper">
            <a class="btn-wrapper noSelect" href="index.html"><img class="logo" src="../static/assets/images/logo.png" alt="" /></a>
          </div>
          <p class="white ital">
            Officia nostrud dolor deserunt officia non nostrud culpa consectetur eiusmod. Eu culpa non eu in in nisi commodo velit veniam.
          </p>
        </section>
        <span class="footer-seperator first"></span>
        <section class="desktop-footer-section">
          <p class="white size18">Ways To Get In Touch</p>
          <ul>
            <li><i class="call-icon"></i><a href="javascript:void(0)">number here</a></li>
            <li><i class="email-icon"></i><a href="javascript:void(0)">email here</a></li>
          </ul>
        </section>
        <section class="desktop-footer-section">
          <p class="white size18">Links</p>
          <ul>
            <li><a href="#" class="current-page">HOME</a></li>
            <li><a href="#service-section">ALL SERVICES</a></li>
          </ul>
        </section>
        <section class="mobile-footer-section">
          <p class="white size18">Ways To Get In Touch</p>
          <ul>
            <li><i class="call-icon"></i><a href="javascript:void(0)">number here</a></li>
            <li><i class="email-icon"></i><a href="javascript:void(0)">email here</a></li>
          </ul>
          <span class="footer-seperator first-shown"></span>
          <p class="white size18">Links</p>
          <ul>
            <li><a href="#" class="current-page">HOME</a></li>
            <li><a href="#service-section">ALL SERVICES</a></li>
          </ul>
        </section>
      </div>
    </footer>
    <script src="../static/assets/js/bodymovin-library.js"></script>
    <script type="text/javascript" src="../static/assets/js/script.js"></script>
  </body>
</html>
